{% extends "blog/base.html" %}
{% block title%} {{post.title}} {% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{post.title}}</h2>
        <p class="card-text">{{post.body}}</p>
        <a href="{% url 'blog:share' post.id %}" class="card-link">Share</a>
            <a href="#" class="card-link">Another link</a>
    </div>
</div>
<div class="card">
    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">
            <b>{{comment.name}} : {{comment.body}}</b>

        </li>
        {% endfor %}
    </ul>

</div>
<div class="card">
     {%include 'blog/post/includes/comment_form.html' %}
</div>

{% endblock %}